* {
    margin: 0;
    padding: 0;
}



@keyframes informationFadein{
    0%{
        top: 0;
        opacity: 0;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

#body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    position: relative;
    color: antiquewhite;
}

video {
    vertical-align: bottom;
    object-fit: fill;
    width: 100vw;
    height: 100vh;
}

.information {
    position: absolute;
    width: 38vw;
    height: 45vh;
    top: 6vh;
    left: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation-name: informationFadein;
    animation-duration: 2.5s;
    animation-timing-function: linear;
}

.information div {
    font-size: 4vh;
}
a{
    text-align: center;
    text-decoration: none;
    color: rgb(30, 102, 165);
    position: absolute;
    top: 30vh;
    right: 12vw;
}
a img{
    width: 6vw;
    height: 12vh;
    vertical-align: bottom;
}
a p{
    font-size: 3vh;
}